$c-primary: #ee2a24;
$c-secondary: #fdb71a;
$c-beginner: #039b6c;

$c-base: #333;
$c-title-black: #131313;
$c-text-gray: #808e89;

$c-border: #e8eeec;
$c-border-dark: #505050;
$c-border-darker: #6e6e6e;
$c-border-darker02: #7b7b7b;
$c-border-darkest: #232323;
$c-table-border: #becbc7;

$c-background-lighter: #f1f3f3;
$c-background-light: #e8eeec;
$c-background-dark: #505050;
$c-background-darker: #333333;
$c-background-darkest: #1c1c1c;

$c-button-bg-dark: #1c1c1c;
$c-button-bg-light: #e8eeec;
$c-button-border: #939291;
$c-button-border02: #707070;
$c-button-border03: #dbdbdb;

$c-box-shadow: #cbdede;

$c-close-button: #bbbbbb;

$c-background-gray: #f1f3f3;
$c-background-gray-light: #f6f6f6;

$c-header-border: #666;
