$z-index-modal: 100040;
$z-index-zoom-image: 100031;
$z-index-zoom-image-layer: 100030;
$z-index-index-nav-button: 100011;
$z-index-header: 100005;
$z-index-index-nav-close-layer: 10;
$z-index-global-nav-close-layer: 10;
$z-index-global-nav: 1000001;
$z-index-index-nav: 1000001;
