---
import Layout from "@layouts/Layout.astro";
import Card from "@components/Card.astro";

const name = "Mai";
const year = 2024;
const obj = {
  name: name,
  year: year,
  hobbies: ["watching movie", "hiking", "driving"],
};

const backgroundColor = "beige";
const textColor = "#333";

const isLarge = true;
---

<Layout>
  <main>
    <div class="l-container">
			<p>Hello!{name}</p>
			<p>In {obj.year}, I wanna travel a lot</p>
			<ul>
				{obj.hobbies.map((item) => <li>{item}</li>)}
			</ul>
			<ul class="link-card-grid">
				<Card
					href="https://docs.astro.build/"
					title="Documentation"
					body="Learn how Astro works and explore the official API docs."
				/>
			</ul>

			<p style={{
				backgroundColor: "pink",
			}}>JSXで直書き</p>
			<p>スタイル</p>

			<p class:list={["c-paragraph", {"large-font": isLarge}]}>大きい文字です</p>
		</div>
  </main>
</Layout>

<style define:vars={{ backgroundColor, textColor}}>
	p {
		font-size: 20px;
		background-color: var(--backgroundColor);
		color : var(--textColor);
	}

	.c-paragraph {
		color: chocolate;
	}

	.large-font {
	font-size: 5rem;
	}
</style>
