---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';


const name = "Mai"
const year = 2024
const obj = {
	name: name,
	year: year,
}
---

<Layout title="Welcome to My page">
	<main>
		<p>Hello!{name}</p>
		<p>In {obj.year}, I wanna travel a lot</p>
		<ul class="link-card-grid">
			<Card
				href="https://docs.astro.build/"
				title="Documentation"
				body="Learn how Astro works and explore the official API docs."
			/>
		</ul>
	</main>
</Layout>

