---
import { Icon } from 'astro-icon'

import navData from '../data/navData'
---


<nav aria-label="Primary">
  <div class="navbar">
    <a href="/" class="logomark" aria-label="ナビ">
      ホーム
    </a>
  </div>
  <ul class="">
    {navData.map((item) =>  
    <li><a href={item.path}>{item.name}</a></li>
    )}
  </ul>
</nav>